# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT


DT_COMPAT_ZMK_INPUT_PROCESSOR_TAP := zmk,input-processor-tap

config ZMK_INPUT_PROCESSOR_TAP
		bool
		default $(dt_compat_enabled,$(DT_COMPAT_ZMK_INPUT_PROCESSOR_TAP))

DT_COMPAT_ZMK_INPUT_PROCESSOR_ABSOLUTE_TO_RELATIVE := zmk,absolute-to-relative

config ZMK_INPUT_PROCESSOR_ABSOLUTE_TO_RELATIVE
		bool
		default $(dt_compat_enabled,$(DT_COMPAT_ZMK_INPUT_PROCESSOR_ABSOLUTE_TO_RELATIVE))

